profiles {
  standard {
    process.executor = 'local'
  }
    pipeline {
    singularity.enabled = true
    singularity.autoMounts = true
    process {
      executor = 'SGE'
      penv = 'def_slot'
      cpus = '1'
      memory = '4G'
      clusterOptions = { "-S /bin/bash -l s_vmem=${task.memory.toGiga()}G -l mem_req=${task.memory.toGiga()}G -cwd -e stderr -v PATH=/usr/local/package/singularity/3.2.1/bin:$PATH -q '!mjobs_rerun.q' " }
      cache = 'deep'
      errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore' }
      maxRetries = '4'
      qeueSize = 20

      withName: run_flexbar {
        memory = { 8.GB * task.attempt }
        cpus = '4'
        container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/flexbar_3.5.0--hb7ba0dd_3.sif'
      }

      withName: run_fastqc {
        cpus = '4'
        memory = { 8.GB * task.attempt }
        container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/fastqc_0.11.9--0.sif'
      }

      withName: run_hisat2 {
        cpus = '4'
        memory = { 8.GB * task.attempt }
        container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/rna-seq-pipeline-hisat2_latest.sif'
      }

      withName: tagging {
        cpus = '4'
        memory = { 8.GB * task.attempt }
        container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/sambedtools_1.1.sif'
      }

      withName: bam2wig {
        cpus = '4'
        memory = { 8.GB * task.attempt }
        container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/bamtobigwig_3.0.0.sif'
      }

      withName: run_stringtie {
        cpus = '4'
        memory = { 8.GB * task.attempt }
        container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/stringtie_2.1.7--h978d192_0.sif'
      }

      withName: run_extract_isoform {
        cpus = '4'
        memory = { 8.GB * task.attempt }
        container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/rseq_python_1.1.sif'
      }

      withName: qc_alignment {
        cpus = '4'
        memory = { 8.GB * task.attempt }
        container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/rseq_python_1.2.sif'
      }

      withName: qc_distribution {
        cpus = '4'
        memory = { 8.GB * task.attempt }
        container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/rseq_python_1.2.sif'
      }

      withName: qc_insert_size {
        cpus = '4'
        memory = { 8.GB * task.attempt }
        container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/rseq_python_1.2.sif'
      }

      withName: qc_coverage {
        cpus = '4'
        memory = { 8.GB * task.attempt }
        container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/rseq_python_1.3.sif'
      }

      withName: joint_ex_mx {
        cpus = '4'
        memory = { 8.GB * task.attempt }
        container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/rseq_python_1.2.sif'
      }

      withName: wrap_count {
        cpus = '4'
        memory = { 8.GB * task.attempt }
        container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/subread_1.0.sif'
      }

      withName: concatnate_qc {
        cpus = '4'
        memory = { 8.GB * task.attempt }
        container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/rseq_python_1.2.sif'
      }
    }
  }
}

includeConfig "./config_file/mm.config"
