profiles {
  standard {
    process.executor = 'local'
  }
    main {
      singularity.enabled = true
      singularity.autoMounts = true
      process {
        executor = 'SGE'
        penv = 'def_slot'
        cpus = '1'
        memory = '4G'
        clusterOptions = { "-S /bin/bash -l s_vmem=${task.memory.toGiga()}G -l mem_req=${task.memory.toGiga()}G -cwd -e stderr -v PATH=/usr/local/package/singularity/3.2.1/bin:$PATH -q '!mjobs_rerun.q' " }
        cache = 'deep'
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore' }
        maxRetries = '5'
        qeueSize = 20

        withName: run_flexbar {
          cpus = '4'
          memory = { 8.GB * task.attempt }
          time = {15.m * task.attempt}
          container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/flexbar_3.5.0--hb7ba0dd_3.sif'
        }

        withName: run_fastqc {
          cpus = '4'
          memory = { 8.GB * task.attempt }
          time = {15.m * task.attempt}
          container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/fastqc_0.11.9--0.sif'
        }

        withName: run_hisat2 {
          cpus = '4'
          memory = { 12.GB * task.attempt }
          time = { 15.m * task.attempt }
          container = '/share/hgc0934/bin/NF_rseq_pipeline_dependency/container/rna-seq-pipeline-hisat2_latest.sif'
          index = /home/myne812/data/index/mouse/ht2/mm
        }


      }
    }

  }

includeConfig "./config_file/mm.config"
