params{

  adapter = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/files/anchored-oligo.fa"

  hisat2_index = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/files/ht2/mm"

  gtf_file = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/files/ens98_hs.gtf"

  gene_file = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/files/ens98_hs.region.gene.bed"

  exon_file = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/files/ens98_hs.region.exon.bed"

  regiontagger = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rnaseq-pipeline-4.0.2/region-tagger.py"

  genome_size = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/files/ens98_hs.genome_size"

  extract_isoform = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rnaseq-pipeline-4.0.2/extract-isoform-expression.py"

  qc_alignment = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rnaseq-pipeline-4.0.2/qc-alignment.py"

  qc_distribution = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rnaseq-pipeline-4.0.2/qc-distribution.py"

  qc_insert_size = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rnaseq-pipeline-4.0.2/qc-insert-size.py"

  qc_coverage = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rnaseq-pipeline-4.0.2/qc-coverage.py"

  joint_ex_mx = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rseq-pipe-4.0.2-nextflow/joint-expression-matrix.py"

  wrap_count = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rseq-pipe-4.0.2-nextflow/wrap-featureCounts.py"

  concatnate_qc = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rseq-pipe-4.0.2-nextflow/concatenate-qc.py"
}
