singularity {
  enabled = true
  autoMounts = true
}

params{
  project_id = "NameOfProject"

  run_ids = [
    ["run001"]
  ]

  run_ids2 = "run001"

  smpl_file = [
    ["smpl", "./sample.txt"]
  ]

  adapter = [
    ["flexbar_adapter", "/home/arikawa/data/index/oligo/anchored-oligo.fa"],
  ]

  flexbar_condition = [
    ["-z GZ -u 10 -at ANY --htrim-right AT --htrim-min-length 10 --htrim-error-rate 0.1 -n 4"]
  ]

  hisat2_condition = [
    ["-p 4"]
  ]

  hisat2_index = [
    ["mm", "/home/arikawa/data/index/ens95/ht2/mm"]
  ]

  ref_chrsize = [
    ["chrom_size", "/home/arikawa/data/index/ens95/mm.genome_size"]
  ]

  cpu = [
    [4]
  ]

  gtf_file = [
    ["gtf", "/home/arikawa/data/index/ens95/mm.gtf"]
  ]

  gene_file = [
    ["bed_gene", "/home/arikawa/data/index/ens95/mm.region.gene.bed"]
  ]

  exon_file = [
    ["bed_exon", "/home/arikawa/data/index/ens95/mm.region.exon.bed"]
  ]
}
