params{

  adapter = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/files/anchored-oligo.fa"

  hisat2_index = "/home/myne812/data/index/mouse/ht2/mm"

  gtf_file = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/files/mm.gtf"

  gene_file = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/files/mm.region.gene.bed"

  exon_file = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/files/mm.region.exon.bed"

  regiontagger = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rnaseq-pipeline-4.0.2/region-tagger.py"

  genome_size = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/files/mm.genome_size"

  extract_isoform = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rnaseq-pipeline-4.0.2/extract-isoform-expression.py"

  qc_alignment = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rnaseq-pipeline-4.0.2/qc-alignment.py"

  qc_distribution = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rnaseq-pipeline-4.0.2/qc-distribution.py"

  qc_insert_size = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rnaseq-pipeline-4.0.2/qc-insert-size.py"

  qc_coverage = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rnaseq-pipeline-4.0.2/qc-coverage.py"

  joint_ex_mx = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rseq-pipe-4.0.2-nextflow/joint-expression-matrix.py"

  wrap_count = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rseq-pipe-4.0.2-nextflow/wrap-featureCounts.py"

  concatnate_qc = "/share/hgc0934/bin/NF_rseq_pipeline_dependency/scripts/rseq-pipe-4.0.2-nextflow/concatenate-qc.py"
}
