profiles {
  standard {
    process.executor = 'local'
  }
    main {
      singularity.enabled = true
      singularity.autoMounts = true
      process {
        executor = 'SGE'
        penv = 'def_slot'
        cpus = '1'
        memory = '4G'
        clusterOptions = { "-S /bin/bash -l s_vmem=${task.memory.toGiga()}G -l mem_req=${task.memory.toGiga()}G -cwd -e stderr -v PATH=/usr/local/package/singularity/3.2.1/bin:$PATH -q '!mjobs_rerun.q' " }
        cache = 'deep'
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore' }
        maxRetries = '5'
        queueSize = 100
        }
      }

  }

params{
  fastq_filelist = './sample.txt'
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '-e'
  docker.enabled = false
  podman.enabled = false
  shifter.enabled = false
  charliecloud.enabled = false
}
