params{
  fastq_filelist = './sample.txt'
}

profiles {
  standard {
    process.executor = 'local'
    maxForks = 1
  }
  uge {
    process {
      executor = 'uge'
      cpus = '4'
      memory ='8GB'
      penv = 'def_slot'
      clusterOptions = "-S /bin/bash -l s_vmem=8G -l mem_req=8G -cwd -e log"
    }
  }
}
singularity {
  enabled = true
  autoMounts = true
  runOptions = '-e'
  docker.enabled = false
  podman.enabled = false
  shifter.enabled = false
  charliecloud.enabled = false
}
